$teal: ( 500: #00b2a9 );
$citron: ( 500: #bcc92d );
$pine: ( 500: #2e6875 );
$emerald: ( 500: #408b35 );
$wine: ( 500: #9c0e33 );
$crimson: ( 500: #da3227 );
$sunset: ( 500: #eb8f2b );
$rust: ( 500: #b94700 );
$navy: ( 500: #004672 );
$sky: ( 500: #87c6d4 );
